
    .paragh{
        margin: 0;
        display: inline-block;
        padding-right:7px;
        
    }

    .order-text{
      font-size: 16px;
    }

    @media only screen and (min-width: 200px) and (max-width: 500px) {

      .order-text{
        font-size: 13px;
    }
   
  }
    .fw-boldd{
        margin:0;
        display: inline-block;
        text-transform: uppercase;
        font-size:13px;
        font-weight: bold;
        color: #A65B37;
    }

    .text-brown{
      color: #A65B37;
    }
    .form-control{
        height: 53%;
        font-size: 12px;
    }

    .lechon-bg{
  background-color: #FEF2EA;
  }


    input::placeholder {
      color: #999; /* Placeholder text color */
      font-style: italic; /* Placeholder font style */
      font-size: 12px
    }

    input[type="date"] {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 12px;
      color: #333;
      /* Add more styles as needed */
    }

    #customInput {
      font-size: 10px;
    }

    .kls{
        font-family: 'Courier New', Courier, monospace;
        color:rgb(22, 128, 22);
        padding: 0px;
    }
    
@media (max-width: 400) {
    .kls{
        font-size: 1px
  }

}
